<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% books.forEach(function(b) { %>
      <tr class="read">
        <td><%= b.title %></td>
        <td><%= b.author %></td>
        <td><a href="/books/<%= b._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
