<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% books.forEach(function(b) { %>
      <tr>
        <td id="title"><%= b.title %></td>
        <td id="author"><%= b.author %></td>
        <td id="details"><a href="/books/<%= b._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
